aiogram==2.11.2
aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==3.0.4
config==0.5.0.post0
cycler==0.10.0
Cython==0.29.22
idna==2.10
kiwisolver==1.2.0
matplotlib==3.2.1
multidict==5.1.0
numpy==1.18.4
pyparsing==2.4.7
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.14.0
typing-extensions==3.7.4.3
urllib3==1.26.3
vedis==0.7.1
yarl==1.6.3